@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: "Open Sans";
}

.content {
    display: block;
    margin: 50px auto 50px;
    width: 1500px;
}

.caption {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 7px;
    margin-right: 7px;
}

.result-text {
    font-size: 20px;
}

.result {
    font-weight: bold;
}
