@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);
body {
  font-family: "Open Sans";
}

.content {
  display: block;
  margin: 50px auto 50px;
  width: 1500px;
}

.caption {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 7px;
  margin-right: 7px;
}

.result-text {
  font-size: 20px;
}

.result {
  font-weight: bold;
}

.header {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/header_background.jpg?0e6c8edc7087a647c71880feac4b584a) no-repeat center;
  background-size: cover;
  filter: blur(5px);
}
.header__title {
  position: relative;
}
.header__title h2 {
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 100px;
}
.header__menu {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  background: linear-gradient(180deg, #020024 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.2777485994) 90%, rgba(255, 255, 255, 0) 100%);
}
.header__menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
  transition: 400ms;
}
.header__menu__item::after {
  display: inline-block;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: white;
  opacity: 1;
  transform: translateX(-50%);
  transition: width 0.25s ease;
}
.header__menu__item:hover {
  transition: 400ms;
}
.header__menu__item:hover::after {
  width: 100px;
}
.header__menu__item .link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.cheapest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cheapest__card {
  width: 300px;
  height: 300px;
}
.cheapest__card .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 25px;
  box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.4);
}
.cheapest__title {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 400ms;
  cursor: pointer;
}
.cheapest__title:hover {
  opacity: 1;
  transition: 400ms;
}
.cheapest__title h3 {
  width: 100%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.cheapest__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cheapest__image img {
  width: 90%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.category__wrapper {
  width: 100%;
  margin-top: 50px;
}
.category__title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
}
.category__title h2 {
  width: 100%;
  text-align: left;
}

.product-list {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.product-list .product {
  width: 500px;
  text-decoration: none;
  color: black;
}
.product-list .product .wrapper {
  display: flex;
  height: 200px;
  margin: 10px;
  box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.4);
  transition: 250ms;
}
.product-list .product:hover .wrapper {
  box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  transition: 250ms;
}
.product-list .product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.product-list .product__image img {
  width: 75px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-list .product__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.product-list .product__title h3 {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.product-list .product__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.cart p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.cart__empty {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 3px #101010;
}
.cart__row {
  display: flex;
  height: 100px;
  padding-bottom: 10px;
}
.cart__row .wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.4);
}
.cart__row .wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.cart__row.deleting {
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: opacity 200ms, 300ms;
}
.cart__image {
  margin-left: 20px;
}
.cart__image img {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart__title {
  width: 300px;
}
.cart__quantity {
  width: 100px;
}
.cart__price {
  width: 200px;
}
.cart__delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
}
.cart__delete .delete {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cart__delete .delete::before {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 5px;
  height: 30px;
  background: #c8c8c8;
  transform: rotate(45deg);
}
.cart__delete .delete::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 5px;
  height: 30px;
  background: #c8c8c8;
  transform: rotate(-45deg);
}
.cart__delete .delete:hover::before {
  background: black;
  transition: 250ms;
}
.cart__delete .delete:hover::after {
  background: black;
  transition: 250ms;
}
.cart__total {
  display: flex;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.product-card {
  position: relative;
  width: 100%;
}
.product-card__add-to-cart {
  position: absolute;
  display: flex;
  right: 10px;
  top: 10px;
}
.product-card__add-to-cart .quantity {
  width: 15%;
}
.product-card__add-to-cart .quantity input {
  vertical-align: top;
  outline: none;
  padding: 0;
  line-height: 48px;
  text-indent: 12px;
  display: inline-block;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-radius: 6px;
}
.product-card__add-to-cart .buy {
  width: 80%;
}
.product-card__add-to-cart .buy button {
  box-shadow: inset 0 1px 0 0 #f29c93;
  background: #fe1a00 linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #b23e35;
  height: 50px;
}
.product-card__add-to-cart .buy button:hover {
  background: #ce0100 linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
}
.product-card__add-to-cart .buy button:active {
  position: relative;
  top: 1px;
}
.product-card__add-to-cart .not-available {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 3px #101010;
}
.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product-card__left {
  width: 40%;
}
.product-card__right {
  width: 60%;
}
.product-card__image {
  margin: 40px;
}
.product-card__image img {
  width: 100%;
  height: auto;
}
.product-card__description {
  text-indent: 1.5em;
}
.product-card__categories .item {
  font-weight: 500;
}
.product-card__categories .item:not(:last-child)::after {
  content: ", ";
}
.product-card__images {
  display: flex;
}
.product-card__images .image {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.product-card__images .image img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-card__images .image.is-active {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.product-card__images .image.is-active img {
  position: fixed;
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
